/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 9000px ) {
    .container {
        max-width: 9000px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

ul {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

li {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: #333333;
}

ol {
    margin: 0 0 10px 0;
    padding: 0 0 0 18px;
    list-style-type: decimal;
}

.host-block-1 {
    display: block;
    font-size: 30px;
    color:#000000;
    padding: 0 0 0 0;
    margin-top: 16px;
}

.host-block-2 {
    display: block;
    color:#000000;
    font-size: 30px;
    padding: 0 0 0 0;
    margin-top: 16px;
}

.host-block-1 > span {
    display: block;
    font-size: 25px;
    border-left: 8px solid #ff7c00;
    color: slategray;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.host-block-2 > span {
    display: block;
    font-size: 22px;
    border-left: 8px solid #F1C40F;
    color: slategray;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.slot-block {
    display: block;
    font-size: 22px;
    color: lightslategray;
    padding: 0 0 0 0;
    margin: 8px 0 0 0;

}

.executor-block {
    display: block;
    font-size: 18px;
    color: slategray;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.analysis-title {
    color: navy;
    padding-bottom: 5px;
    font-size: 110%;
    display: block;
    padding-bottom: 5px;
}

.analysis-details {
    display: block;
    padding: 15px 15px 15px 15px;
}

.detail-cell {
    color: ThreeDDarkShadow;
    font-size: 80%;
    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 5px 5px 5px 5px;
}
