<h3>Cluster Summary</h3>
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Version</th>
        <th>Nimbus uptime</th>
        <th>Supervisors</th>
        <th>Used slots</th>
        <th>Free slots</th>
        <th>Total slots</th>
        <th>Executors</th>
        <th>Tasks</th>
    </tr>
    </thead>
    <tbody>
    <tr class="active">
        <td>{{overview.clusterSummary.stormVersion}}</td>
        <td>{{overview.clusterSummary.nimbusUptime}}</td>
        <td>{{overview.clusterSummary.supervisors}}</td>
        <td>{{overview.clusterSummary.slotsUsed}}</td>
        <td>{{overview.clusterSummary.slotsFree}}</td>
        <td>{{overview.clusterSummary.slotsTotal}}</td>
        <td>{{overview.clusterSummary.executorsTotal}}</td>
        <td>{{overview.clusterSummary.tasksTotal}}</td>
    </tr>
    </tbody>
</table>


<h3>Topology Summary</h3>
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Status</th>
        <th>Uptime</th>
        <th>Num workers</th>
        <th>Num executors</th>
        <th>Num tasks</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="topo in overview.topos" class="active">
        <td>{{topo.name}}</td>
        <td>{{topo.id}}</td>
        <td>{{topo.status}}</td>
        <td>{{topo.uptime}}</td>
        <td>{{topo.workersTotal}}</td>
        <td>{{topo.executorsTotal}}</td>
        <td>{{topo.tasksTotal}}</td>
    </tr>
    </tbody>
</table>


<h3>Supervisor Summary</h3>
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Id</th>
        <th>Host</th>
        <th>IP</th>
        <th>Uptime</th>
        <th>Slots</th>
        <th>Used slots</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="sup in overview.supervisorSummary.supervisors" class="active">
        <td>{{sup.id}}</td>
        <td>{{sup.host}}</td>
        <td>{{sup.ip}}</td>
        <td>{{sup.uptime}}</td>
        <td>{{sup.slotsTotal}}</td>
        <td>{{sup.slotsUsed}}</td>
    </tr>
    </tbody>
</table>


<h3>Cluster Config</h3>

<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <!--<th>类型</th>-->
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key, value) in overview.cluserConfig" class="active">
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    </tbody>
</table>

