<h3>Topology summary</h3>
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Status</th>
        <th>Uptime</th>
        <th>Num workers</th>
        <th>Num executors</th>
        <th>Num tasks</th>
    </tr>
    </thead>
    <tbody>
    <tr class="active">
        <td>{{topo.name}}</td>
        <td>{{topo.id}}</td>
        <td>{{topo.status}}</td>
        <td>{{topo.uptime}}</td>
        <td>{{topo.workersTotal}}</td>
        <td>{{topo.executorsTotal}}</td>
        <td>{{topo.tasksTotal}}</td>
    </tr>
    </tbody>
</table>

<h3>Topology stats</h3>
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Window</th>
        <th>Emitted</th>
        <th>Transferred</th>
        <th>Complete latency (ms)</th>
        <th>Acked</th>
        <th>Failed</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="stat in topo.topologyStats" class="active">
        <td>{{stat.windowPretty}}</td>
        <td>{{stat.emitted}}</td>
        <td>{{stat.transferred}}</td>
        <td>{{stat.completeLatency}}</td>
        <td>{{stat.acked}}</td>
        <td>{{stat.failed}}</td>
    </tr>
    </tbody>
</table>


<h3>Spouts (10 min)</h3>
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Id</th>
        <th>Executors</th>
        <th>Tasks</th>
        <th>Emitted</th>
        <th>Transferred</th>
        <th>Complete latency (ms)</th>
        <th>Acked</th>
        <th>Failed</th>
        <th>Last error</th>
        <th>Show details</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="spout in topo.spouts" class="active">
        <td>{{spout.spoutId}}</td>
        <td>{{spout.executors}}</td>
        <td>{{spout.tasks}}</td>
        <td class="success">{{spout.emitted}}</td>
        <td class="info">{{spout.transferred}}</td>
        <td>{{spout.completeLatency}}</td>
        <td>{{spout.acked}}</td>
        <td>{{spout.failed}}</td>
        <td>{{spout.lastError}}</td>
        <td>
            <button class="btn btn-default" ng-click="isSpoutsShow[$index] = !isSpoutsShow[$index]">
                Details
            </button>
        </td>
    </tr>
    <tr ng-repeat-end collapse="!isSpoutsShow[$index]">
        <td colspan="10" class="table-bordered sub-table">
            <div>
                <!--<h4>{{spout.spoutId}} spout stats</h4>-->
                <!--<table class="table table-hover table-condensed">-->
                <!--<thead>-->
                <!--<tr>-->
                <!--<th>Window</th>-->
                <!--<th>Emitted</th>-->
                <!--<th>Transferred</th>-->
                <!--<th>Complete latency (ms)</th>-->
                <!--<th>Acked</th>-->
                <!--<th>Failed</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="stat in spout.compDetails.spoutSummary" class="active">-->
                <!--<td>{{stat.windowPretty}}</td>-->
                <!--<td>{{stat.emitted}}</td>-->
                <!--<td>{{stat.transferred}}</td>-->
                <!--<td>{{stat.completeLatency}}</td>-->
                <!--<td>{{stat.acked}}</td>-->
                <!--<td>{{stat.failed}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
                <!--</table>-->

                <div class="sub-table-title">- {{spout.spoutId}} Output stats (10m)</div>
                <table class="table table-hover table-condensed" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th>Stream</th>
                        <th>Emitted</th>
                        <th>Transferred</th>
                        <th>Complete latency (ms)</th>
                        <th>Acked</th>
                        <th>Failed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stat in spout.compDetails.outputStats" class="active">
                        <td>{{stat.stream}}</td>
                        <td>{{stat.emitted}}</td>
                        <td>{{stat.transferred}}</td>
                        <td>{{stat.completeLatency}}</td>
                        <td>{{stat.acked}}</td>
                        <td>{{stat.failed}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="sub-table-title">- {{spout.spoutId}} Executors (10m)</div>

                <table class="table table-hover table-condensed" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Host</th>
                        <th>Port</th>
                        <th>Uptime</th>
                        <th>Emitted</th>
                        <th>Transferred</th>
                        <!--<th>Capacity</th>-->
                        <!--<th>Execute Latency</th>-->
                        <!--<th>Executed</th>-->
                        <!--<th>Process Latency</th>-->
                        <th>Acked</th>
                        <th>Failed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="exestat in spout.compDetails.executorStats" class="active">
                        <td>{{exestat.id}}</td>
                        <td>{{exestat.host}}</td>
                        <td>{{exestat.port}}</td>
                        <td>{{exestat.uptime}}</td>
                        <td>{{exestat.emitted}}</td>
                        <td>{{exestat.transferred}}</td>
                        <!--<td>{{exestat.executeLatency}}</td>-->
                        <!--<td>{{exestat.executed}}</td>-->
                        <!--<td>{{exestat.processLatency}}</td>-->
                        <td>{{exestat.acked}}</td>
                        <td>{{exestat.failed}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="sub-table-title" collapse="!spout.compDetails.componentErrors[0]">
                    {{spout.spoutId}} Errors (10m)</div>
                <table collapse="!spout.compDetails.componentErrors[0]"
                       class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Error</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in spout.compDetails.componentErrors" class="active">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>


<h3>Bolts (10 min)</h3>
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Id</th>
        <th>Executors</th>
        <th>Tasks</th>
        <th>Emitted</th>
        <th>Transferred</th>
        <th>Capacity (last 10m)</th>
        <th>Execute latency (ms)</th>
        <th>Executed</th>
        <th>Process latency (ms)</th>
        <th>Acked</th>
        <th>Failed</th>
        <th>Last error</th>
        <th>Show details</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="bolt in topo.bolts" class="active">
        <td>{{bolt.boltId}}</td>
        <td>{{bolt.executors}}</td>
        <td>{{bolt.tasks}}</td>
        <td class="success">{{bolt.emitted}}</td>
        <td class="info">{{bolt.transferred}}</td>
        <td>{{bolt.capacity}}</td>
        <td>{{bolt.executeLatency}}</td>
        <td>{{bolt.executed}}</td>
        <td>{{bolt.processLatency}}</td>
        <td class="success">{{bolt.acked}}</td>
        <td>{{bolt.failed}}</td>
        <td>{{bolt.lastError}}</td>
        <td>
            <button class="btn btn-default" ng-click="isBoltsShow[$index] = !isBoltsShow[$index]">
                Details
            </button>
        </td>
    </tr>
    <tr ng-repeat-end collapse="!isBoltsShow[$index]" class="table-bordered sub-table">
        <td colspan="13">
            <div>

                <!--<h4>{{spout.spoutId}} spout stats</h4>-->
                <!--<table class="table table-hover table-condensed">-->
                <!--<thead>-->
                <!--<tr>-->
                <!--<th>Window</th>-->
                <!--<th>Emitted</th>-->
                <!--<th>Transferred</th>-->
                <!--<th>Complete latency (ms)</th>-->
                <!--<th>Acked</th>-->
                <!--<th>Failed</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="stat in spout.compDetails.spoutSummary" class="active">-->
                <!--<td>{{stat.windowPretty}}</td>-->
                <!--<td>{{stat.emitted}}</td>-->
                <!--<td>{{stat.transferred}}</td>-->
                <!--<td>{{stat.completeLatency}}</td>-->
                <!--<td>{{stat.acked}}</td>-->
                <!--<td>{{stat.failed}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
                <!--</table>-->

                <div class="sub-table-title">- {{bolt.boltId}} Input stats (10m)</div>
                <table class="table table-hover table-condensed" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th>Component</th>
                        <th>Stream</th>
                        <th>Execute Latency</th>
                        <th>Executed</th>
                        <th>Process latency (ms)</th>
                        <th>Acked</th>
                        <th>Failed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stat in bolt.compDetails.inputStats" class="active">
                        <td>{{stat.component}}</td>
                        <td>{{stat.stream}}</td>
                        <td>{{stat.executeLatency}}</td>
                        <td>{{stat.executed}}</td>
                        <td>{{stat.processLatency}}</td>
                        <td>{{stat.acked}}</td>
                        <td>{{stat.failed}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="sub-table-title">- {{bolt.boltId}} Output stats (10m)  </div>
                <table class="table table-hover table-condensed" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th>Stream</th>
                        <th>Emitted</th>
                        <th>Transferred</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stat in bolt.compDetails.outputStats" class="active">
                        <td>{{stat.stream}}</td>
                        <td>{{stat.emitted}}</td>
                        <td>{{stat.transferred}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="sub-table-title"> - {{bolt.boltId}} Executors (10m)</div>

                <table class="table table-hover table-condensed" style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Host</th>
                        <th>Port</th>
                        <th>Uptime</th>
                        <th>Emitted</th>
                        <th>Transferred</th>
                        <th>Capacity</th>
                        <th>Execute Latency</th>
                        <th>Executed</th>
                        <th>Process Latency</th>
                        <th>Acked</th>
                        <th>Failed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="exestat in bolt.compDetails.executorStats" class="active">
                        <td>{{exestat.id}}</td>
                        <td>{{exestat.host}}</td>
                        <td>{{exestat.port}}</td>
                        <td>{{exestat.uptime}}</td>
                        <td>{{exestat.emitted}}</td>
                        <td>{{exestat.transferred}}</td>
                        <td>{{exestat.capacity}}</td>
                        <td>{{exestat.executeLatency}}</td>
                        <td>{{exestat.executed}}</td>
                        <td>{{exestat.processLatency}}</td>
                        <td>{{exestat.acked}}</td>
                        <td>{{exestat.failed}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="sub-table-title" collapse="!bolt.compDetails.componentErrors[0]">
                    {{bolt.boltId}} Errors (10m)</div>
                <table collapse="!bolt.compDetails.componentErrors[0]"
                       class="table table-hover table-condensed"  style="margin-bottom: 0">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Error</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in bolt.boltId.componentErrors" class="active">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<h3>Different configs from default</h3>

<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <!--<th>类型</th>-->
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key, value) in topo.diffConfig" class="active">
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    </tbody>
</table>

<h3>Same configs with default</h3>

<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key, value) in topo.sameConfig" class="active">
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    </tbody>
</table>
