<!doctype html>
<html ng-app="myApp">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>

<div ng-controller="mycontroller">
    <input type="text" ng-model="yourName" placeholder="enter your name">

    <h1>hello {{ yourName }}</h1>

    <h1>hello {{ name }}</h1>

    <h1>hello {{ person.name}} </h1>
</div>


<div ng-controller="pc">

    <div ng-controller="cc">
        <input type="text" ng-model="person.prop" placeholder="enter your name">
        <b> {{person.prop}} </b>
        <b> {{person.pcprop}} </b>


        <b>{{rootName}}</b>


        <button ng-click="sayHello()" class="button" ng-show="true">say hello</button>
    </div>

</div>

<br>
<br>
<br>

<!--<div ng-controller="PlayController">-->
<!--<button ng-click="play()" class="button" ng-show="!playing">Play</button>-->
<!--<button ng-click="stop()" class="button" ng-show="playing">Stop</button>-->
<!--Playing audio: <b> {{playing}} </b>-->
<!--</div>-->

<div ng-controller="PersonList">
    <button ng-click="load()" class="button" ng-show="true">load data</button>

    <table border="1">
        <tr>
            <th>name</th>
            <th>phone number</th>
        </tr>

        <b>{{data}}</b>
        <tr ng-repeat="p in data">
            <td>
                {{p.name}}
            </td>
            <td>
                {{p.phoneNumber}}
            </td>
        </tr>
    </table>

</div>


<div ng-controller="MainCtrl">
    <span class="label">Ordered By: {{orderByField.aaa}}, Reverse Sort: {{reverseSort.aaa}}</span><br><br>
        <table class="table table-bordered" ng-show="data.hehe.length != 0">
        <thead>
        <tr>
            <th>
                <a href="" ng-click="orderByField.aaa='firstName'; reverseSort.aaa = !reverseSort.aaa">
                    First Name <span ng-show="orderByField.aaa == 'firstName'"><span ng-show="!reverseSort.aaa">^</span><span
                        ng-show="reverseSort.aaa">v</span></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="orderByField.aaa='lastName'; reverseSort.aaa = !reverseSort.aaa">
                    Last Name <span ng-show="orderByField.aaa == 'lastName'"><span ng-show="!reverseSort.aaa">^</span><span
                        ng-show="reverseSort.aaa">v</span></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="orderByField.aaa='age'; reverseSort.aaa = !reverseSort.aaa">
                    Age <span ng-show="orderByField.aaa == 'age'"><span ng-show="!reverseSort.aaa">^</span><span
                        ng-show="reverseSort.aaa">v</span></span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="emp in data.employees|orderBy:orderByField.aaa:reverseSort.aaa">
            <td>{{emp.firstName}}</td>
            <td>{{emp.lastName}}</td>
            <td>{{emp.age}}</td>
        </tr>
        </tbody>
    </table>



</div>

</body>
</html>
